.topnav{
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #222;
    min-height: 4.65em;
}
.logo, .topnav-links, #hamburger{
    margin-inline: 4em;
}
.logo{
    color: #f5f5f5;
    
    font-size: clamp(1rem, 10vw, 1.4rem);
    font-family: 'Poppins', sans-serif;
    font-weight: 700;

    user-select: none;
}
#hamburger{
    display: none;
    color: #f5f5f5;
    
    font-size: clamp(1.5rem, 8vw, 2rem);
    padding: clamp(.1em, 5vw, .3em);
}
.topnav-links{
    display: inline-block;
    justify-content: space-around;
    
    overflow: auto;
    white-space: nowrap;
    
    list-style-type: none;
    
    min-width: 24em;
}
.topnav-links a{
    text-decoration: none;
    text-align: center;
    color: #f5f5f5;
    padding: clamp(1.2em, 5vw, 2em);
    
    font-family: 'Poppins', sans-serif;
    font-size: clamp(1rem, 10vw, 1.2rem);
    font-weight: 500;
}
@media screen and (max-width:750px) {
    #hamburger{
        display: block;
        
    }
    .topnav-links{
        display: none;
        justify-content: center;
        flex-direction: column;
        
        position: absolute;
        top: 4.65em;

        background-color: gray;
    
        margin-inline: 0;

        width: 100%;
        min-width: 0px;
    }
    .topnav-links a{
        cursor: pointer;
        
        color: #222;

        user-select: none;
    }
    .topnav-links a:hover{
        background-color: #f5f5f5;
    }
}
@media screen and (min-width:1000px){
    .topnav-links{
        display: flex;
        
        overflow: none;
        white-space: none;
    }
}
@media screen and (max-width: 500px) {
    .topnav{
        flex-wrap: wrap;
        text-align: center;
    }
    .logo{
        position: relative;
        left: 1em;
    }
    #hamburger{
        position: relative;
        right: -1.5em;
    }
}
@media screen and (max-width: 355px){
    .topnav-links{
        top: 5em;
    }
}
@media screen and (max-width: 355px) {
    .topnav-links{
        top: 7em;
    }
}
@media screen and (max-width: 325px) {
    .topnav-links{
        top: 6.75em;
    }
}
@media screen and (max-width: 260px) {
    .topnav-links{
        top: 8.8em;
    }
}
@media screen and (max-width: 220px) {
    .topnav-links{
        top: 8.7em;
    }
}